.cards {
    display: grid;
    grid-template-columns: repeat(3, auto);
    justify-content: center;
    align-items: center;
    grid-gap: 20px 17px;
    padding: 50px 0 68px;
}

@media screen and (max-width: 950px) {
    .cards{
        grid-template-columns: repeat(auto-fit, 282px);
        padding: 36px 0 50px;
    }
}